.settings {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    left: calc(50% - 50% / 2);
    top: calc(50% - 50% / 2);

    width: 50%;
    height: auto;
}

.item-group-list {
    width: 50%;
    height: auto;
}

.item-group {
    padding-top: 30px;
}

.item {
    padding-top: 5px;
}

.input {
    width: 15em;
    height: 1.5em;

    padding: 5px 10px;

    color: rgb(192, 192, 192);
    background-color: rgb(70, 75, 81);

    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(89, 95, 101);
}

.textarea {
    width: 60%;
    height: 80px;

    padding: 5px 10px;

    color: rgb(192, 192, 192);
    background-color: rgb(70, 75, 81);

    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(89, 95, 101);
}
