.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.settings-column {
    display: flex;
    flex-direction: column;
}

.item-group {
    padding-top: 30px;
}

.item {
    padding-top: 5px;
}

.input {
    color: rgb(192, 192, 192);
    background-color: rgb(48, 51, 55);
    border-color: rgb(89, 95, 101);
}

.input:focus {
    color: rgb(192, 192, 192);
    background-color: rgb(51, 54, 58);
    border-color: rgb(128, 128, 128);
}

.error {
    color: rgb(218, 59, 59);
}

.bold {
    font-weight: bold;
}
