.button {
    width: 15%;
    height: 40px;

    margin: 30px;

    background-color: rgb(60, 65, 70);
    color: rgb(192, 192, 192);

    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(89, 95, 101);
}

.button:hover {
    background-color: rgb(81, 87, 93);
    border-color: rgb(88, 94, 99);
}
